
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #373d42;
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background: #8b8b8b;
}

.logo {
    color: #FFF;
    font-size: 22px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #000000;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}

ul li a:hover,
ul li a.active {
    color: #FFF;
    background: #303030;
}

#icon {
    background-color: #c4c4c4;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #0075FF;
}

#checkbox,
#icon {
    display: none;
}
/* Youtube link */
.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -100px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}
@media screen and (max-width: 768px) {
    nav {
        border-bottom: 1px solid #455468;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #dddddd;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }

    ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }
}


.darkBox {
    background: #087bda;
    padding: 5% 20% 5% 20%;
  }
  
  .smBox {
    background: #4c5358;
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
    border: 0px;
    transition: 0.2s;
    caret-color: #FFF;
    color: #FFF;
  }
  
  .smBox1 {
    background: #71787c;
    width: 50%;
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
    border: 0px;
    transition: 0.2s;
    caret-color: #FFF;
    color: #FFF;
    
  }
  .smBox:focus {
    outline: none;
    background: #353A3D;
    border-color: #4c5358;
    box-shadow: 0 0 20px #1F2224;
  }
  
  ::placeholder {
      color: #AEAFAF;
      opacity: 1;
  }
  
  .bigBox {
    min-height: 150px;
    padding-bottom: 20%;
  }
  
  .bigTitle {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .bigTitle1 {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  
 
  
  /* Med */
  @media screen and (max-width: 1200px) {
    /* ... */
    
    form { 
  margin: 0 auto; 
  width: 60%;
  }
  .darkBox {
    background: #373d42;
    padding: 5% 5% 5% 5%;
  }
  }
  
  
  /* Small */
  @media screen and (max-width: 650px) {
    /* ... */
    
    form { 
  margin: 0 auto; 
  width: 100%;
  }
  .darkBox {
    background: #373d42;
    padding: 5% 5% 5% 5%;
  }
  }

.btn {

height: 100px;
width:100px;
background-color: crimson;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
right: 20px;
bottom: 20px;
cursor: pointer;
}

.icone {

width: 50px;    
}